body {
  background-image: url('file:///C:/Users/Ernesto/Desktop/my-proyecto/src/components/images/Login.jpg');
  background-size: 1300px 787px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.data-box {
  width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-text {
  color:#3F51B5; /* Cambia por el color que desees */
}


.avatar-container {
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Convierte la imagen en un círculo */
}

.text-center {
  text-align: center;
  font-size: 18px; /* Tamaño de fuente del texto */
}

/* Estilos para los campos de entrada personalizados */
.input-container {
  position: relative;
  margin: 20px 0;
}

/* Estilo de la línea horizontal */
.input-container input {
  border: none;
  border-bottom: 2px solid #3F51B5; /* Línea horizontal */
  padding: 10px 0;
  width: 100%;
  background: transparent; /* Fondo transparente */
  outline: none; /* Quita el borde de enfoque */
  font-size: 16px;
}

/* Estilo para el texto de ejemplo (placeholder) */
.input-container input::placeholder {
  color: #666; /* Color del texto de ejemplo */
}

/* Estilo de enfoque para la línea horizontal */
.input-container input:focus {
  border-bottom: 2px solid #3F51B5; /* Cambia el color al enfocar */
}

.custom-button {
  color: #3F51B5; /* Color de texto normal */
  background-color: transparent; /* Fondo transparente (sin relleno) */
  border: none; /* Sin borde */
  transition: background-color 0.3s; /* Transición de color de fondo */

  /* Cuando el cursor está sobre el botón */
  &:hover {
    background-color: #aaa0a0d8; /* Cambia el color de fondo cuando se coloca el cursor */
  }
}

/* Estilos para los botones */
.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.registration-button {
  background-color: #6273dc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.registration-button:hover {
  background-color: #2E3A87;
}


